.blob {
    position: absolute;
    animation: rotating 30s linear infinite;
    opacity: .2;
    filter: blur(1px);
}

@keyframes rotating {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

  