@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 530;
  font-style: normal;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/PPNeueMontreal-Italic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/PPNeueMontreal-SemiBolditalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

::selection {
  background-color: rgba(159, 159, 159, 0.863);
  color: #000000;
}

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PPNeueMontreal";
  font-weight: 200;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @apply border-dark-500;
}
html {
  scroll-behavior: smooth;
}
h1 {
  @apply text-white;
}
input,
textarea {
  @apply w-2/5 bg-transparent border-b-2 text-center mt-8;
}
input::placeholder,
textarea::placeholder {
  @apply text-dark-500 tracking-[30px] text-center uppercase;
}
textarea::placeholder {
  @apply text-2xl;
}

input:focus-within,
textarea:focus-within {
  @apply outline-none border-white transition-colors;
}

.keyword {
  @apply font-[450] italic;
}

/* MEDIA POPUP */

.link-wrapper {
  position: relative;
}

.popup {
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  text-align: right;
  transition: all 300ms ease;
  width: 80px;
  left: -60px;
  opacity: 0;
  font-weight: 530;
}
.link-wrapper:hover .popup {
  opacity: 1;
  transform: translateX(-30px);
  @media (max-width: 630px) {
    opacity: 0;
  }
}

/* LINK HOVER EFFECT */

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 1px;
  width: 0;
  transition: all 300ms ease;
}

.link__hover-effect::after {
  background-color: #fff;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}